<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:data-th-replace="@{fragments/imports :: head}" >

</head>

<body class="">

<div class="wrapper ">

    <!--    menu lateral-->
    <div th:data-th-replace="@{fragments/fragmento_menu-lateral :: menu-lateral}"></div>

    <div class="main-panel">

        <!-- Navbar -->
        <nav th:data-th-replace="@{fragments/fragmento_navegacao :: navegacao}"> </nav>
        <!-- End Navbar -->
        <!-- <div class="panel-header panel-header-lg">

    <canvas id="bigDashboardChart"></canvas>


  </div> -->
        <div class="content">

            <!--        cards-->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">Lista exemplares disponíveis</h5>
                        </div>

                        <form th:action="@{/buscaExemplarTitulo}">
                            <div class="container">
                                <div class="form-group">
                                    <label>Busca por título:</label>
                                    <div class="input-group-append">
                                        <input type="text" name="titulo" class="form-control" placeholder="Título do exemplar" >
                                        <div class="input-group-append">
                                            <button class="btn btn-info m-0" type="submit" id="button-addon2"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="container">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Título</th>
                                        <th scope="col">Autor</th>
                                        <th scope="col">Ano</th>
                                        <th scope="col">Quantidade</th>
                                        <th scope="col">Gênero</th>
                                        <th scope="col">Emprestar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:each="exemplar : ${lista}">
                                    <td th:text="${exemplar.titulo}"></td>
                                    <td th:text="${exemplar.autor}"></td>
                                    <td th:text="${exemplar.anoPublicacao}"></td>
                                    <td th:text="${exemplar.quantidadeTotal}"></td>
                                    <td th:text="${exemplar.genero}"></td>
                                    <td>
                                        <a class="btn btn-outline-success" th:href="@{../emprestimo/cadastro/{codigo}(codigo=${exemplar.codigo})}"> <i class="fa fa-share-square"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <!--      rodape-->
        <footer th:data-th-replace="@{fragments/fragmento_rodape :: rodape}" ></footer>

    </div>
</div>


<div th:data-th-replace="@{fragments/imports :: scripts}" ></div>
</body>

</html>