<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:data-th-replace="@{fragments/imports :: head}" >

</head>

<body class="">

<div class="wrapper ">

    <!--    menu lateral-->
    <div th:data-th-replace="@{fragments/fragmento_menu-lateral :: menu-lateral}"></div>

    <div class="main-panel">

        <!-- Navbar -->
        <nav th:data-th-replace="@{fragments/fragmento_navegacao :: navegacao}"> </nav>
        <!-- End Navbar -->
        <!-- <div class="panel-header panel-header-lg">

    <canvas id="bigDashboardChart"></canvas>


  </div> -->
        <div class="content">

            <!--        cards-->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">Lista emprestados</h5>
                        </div>

                        <form th:action="@{/buscaTitulo}" method="get">
                            <div class="container">
                                <div class="form-group">
                                    <label>Busca por título:</label>
                                    <div class="input-group-append">
                                        <input type="text" name="titulo" class="form-control" placeholder="Nome do título" >
                                        <div class="input-group-append">
                                            <button class="btn btn-info m-0" type="submit" id="button-addon1"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form th:action="@{/buscaCliente}" method="get" >
                            <div class="container">
                                <div class="form-group">
                                    <label>Busca por cliente:</label>
                                    <div class="input-group-append">
                                        <input type="text" name="cliente" class="form-control" placeholder="Nome do cliente" >
                                        <div class="input-group-append">
                                            <button class="btn btn-info m-0" type="submit" id="button-addon2"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="container">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Título</th>
                                        <th scope="col">Autor</th>
                                        <th scope="col">Quantidade</th>
                                        <th scope="col">Editora</th>
                                        <th scope="col">Cliente</th>
                                        <th scope="col">Devolver</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     <tr th:each="emprestimo : ${lista}">
                                        <td th:text="${emprestimo.exemplar.titulo}"></td>
                                        <td th:text="${emprestimo.exemplar.autor}"></td>
                                        <td th:text="${emprestimo.quantidade}"></td>
                                        <td th:text="${emprestimo.exemplar.editora}"></td>
                                        <td th:text="${emprestimo.pessoa.nome}"></td>
                                         <td>
                                             <a class="btn btn-outline-success" th:href="@{../devolucao/devolucao/{codigo}(codigo=${emprestimo.codigo})}" > <i class="fa fa-share-square"></i></a>
                                         </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--      rodape-->
        <footer th:data-th-replace="@{fragments/fragmento_rodape :: rodape}" ></footer>

    </div>
</div>


<div th:data-th-replace="@{fragments/imports :: scripts}" ></div>
</body>

</html>
