<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head data-th-replace="fragments/imports :: head" >

</head>

<body class="">

<div class="wrapper ">

    <!--    menu lateral-->
    <div data-th-replace="fragments/fragmento_menu-lateral :: menu-lateral"></div>

    <div class="main-panel">

        <!-- Navbar -->
        <nav data-th-replace="fragments/fragmento_navegacao :: navegacao"> </nav>
        <!-- End Navbar -->
        <!-- <div class="panel-header panel-header-lg">

    <canvas id="bigDashboardChart"></canvas>


  </div> -->
        <div class="content">

            <!--        cards-->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">Cadastro de exemplar</h5>
                        </div>
                        <form>
                            <div class="container-fluid">
                                <div class="form-group">
                                    <label>Título:</label>
                                    <input type="text" name="titulo" class="form-control">
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="form-group">
                                    <label>Autor:</label>
                                    <input type="text" name="autor" class="form-control">
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="form-group">
                                    <label>Gênero:</label>
                                    <input type="text" name="genero" class="form-control">
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="form-group">
                                    <label>Editora:</label>
                                    <input type="text" name="editora" class="form-control">
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="form-group">
                                    <label>Ano:</label>
                                    <input type="text" name="ano" class="form-control">
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="form-group">
                                    <label>Quantidade de exemplares:</label>
                                    <input type="text" name="quantidadeTotal" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-2">
                                <div class="form-group">
                                    <input type="submit" class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!--      rodape-->
        <footer data-th-replace="fragments/fragmento_rodape :: rodape" ></footer>

    </div>
</div>


<div data-th-replace="fragments/imports :: scripts" ></div>
</body>

</html>