<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head data-th-replace="fragments/imports :: head" >

</head>

<body class="">

<div class="wrapper ">

    <!--    menu lateral-->
    <div data-th-replace="fragments/fragmento_menu-lateral :: menu-lateral"></div>

    <div class="main-panel">

        <!-- Navbar -->
        <nav data-th-replace="fragments/fragmento_navegacao :: navegacao"> </nav>
        <!-- End Navbar -->
        <!-- <div class="panel-header panel-header-lg">

    <canvas id="bigDashboardChart"></canvas>


  </div> -->
        <div class="content">

            <!--        cards-->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">Lista de clientes</h5>
                        </div>

                        <form action="buscaTitulo" method="get">
                            <div class="container">
                                <div class="form-group">
                                    <label>Busca por nome:</label>
                                    <div class="input-group-append">
                                        <input type="text" class="form-control" placeholder="Nome do cliente" >
                                        <div class="input-group-append">
                                            <button class="btn btn-info m-0" type="submit" id="button-addon1"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="container">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Codigo</th>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Sobrenome</th>
                                        <th scope="col">CPF</th>
                                        <th scope="col">E-mail</th>
                                        <th scope="col">Opções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="pessoa : ${lista}">
                                        <td th:text="${pessoa.codigo}"></td>
                                        <td th:text="${pessoa.nome}"></td>
                                        <td th:text="${pessoa.sobrenome}"></td>
                                        <td th:text="${pessoa.cpf}"></td>
                                        <td th:text="${pessoa.email}"></td>
                                    	<td>
                                    		<a class="btn btn-outline-primary" th:href="@{cadastro/{codigo}(codigo=${pessoa.codigo})}"><i class="fa fa-pen"></i></a>
                                    		<a class="btn btn-outline-danger modal-excluir" data-toggle="modal" data-target="#modal-excluir" th:attr="data-codigo=${pessoa.codigo}"><i class="fa fa-trash"></i></a>
                                    	</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
		<div data-th-replace="fragments/fragmento_modal_excluir :: modal-excluir"></div>
        <!--      rodape-->
        <footer data-th-replace="fragments/fragmento_rodape :: rodape" ></footer>
		
    </div>
</div>

 <div data-th-replace="fragments/imports :: scripts" ></div>
 <script th:src="@{/js/pessoa.js}"></script>

</body>

</html>
