<div class="sidebar" data-color="white" data-active-color="danger" data-th-fragment="menu-lateral">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
    <div class="logo">
        <a href="http:/www.creative-tim.com" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img th:src="@{/img/book-icon.png}">
            </div>
        </a>
        <a href="#" class="simple-text logo-normal">
            BestBooks
            <!-- <div class="logo-image-big">
              <img src="@{/assets/img/logo-big.png">
            </div> -->
        </a>
    </div>
    <div class="sidebar-wrapper" id="nav">
        <ul class="nav">
<!--            <li class="active " >-->
            <li class="selecionado">
                <a href="../">
                    <i class="fa fa-home"></i>
                    <p>Início</p>
                </a>
            </li>
            <li class="selecionado">
                <a href="/pessoa/cadastro">
                    <i class="fa fa-user-plus"></i>
                    <p>Cadastro Cliente</p>
                </a>
            </li>
            <li class="selecionado">
                <a href="/exemplar/cadastro">
                    <i class="fa fa-book-medical"></i>
                    <p>Cadastro Livro</p>
                </a>
            </li>
            <li class="selecionado">
                <a href="/emprestimo/cadastro">
                    <i class="fa fa-book"></i>
                    <p>Emprestimo</p>
                </a>
            </li>
            <li class="selecionado">
                <a href="/devolucao/devolucao">
                    <i class="fa fa-reply"></i>
                    <p>Devolução</p>
                </a>
            </li>
            <li class="selecionado">
                <a href="/listas/emprestados">
                    <i class="fa fa-list"></i>
                    <p>Lista Emprestados</p>
                </a>
            </li>
            <li class="selecionado">
                <a href="/listas/disponiveis">
                    <i class="fa fa-list"></i>
                    <p>Livros Disponíveis</p>
                </a>
            </li>

            <li class="active-pro">
                <a href="/sobre">
                    <i class="fa fa-info"></i>
                    <p>Sobre</p>
                </a>
            </li>
        </ul>
    </div>
</div>