<footer class="footer footer-black  footer-white " data-th-fragment="rodape">
    <div class="container-fluid">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a href="#" target="_blank">BestBooks</a>
                    </li>

                </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script> Template by: Creative Tim
              </span>
            </div>
        </div>
    </div>
</footer>
