<div class="sidebar" data-color="white" data-active-color="danger" data-th-fragment="menu-lateral">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
    <div class="logo">
        <a th:href="@{/}" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img th:src="@{/img/book-icon.png}">
            </div>
        </a>
        <a th:href="@{/}" class="simple-text logo-normal">
            BestBooks
            <!-- <div class="logo-image-big">
              <img src="@{/assets/img/logo-big.png">
            </div> -->
        </a>
    </div>
    <div class="sidebar-wrapper" id="nav">
        <ul class="nav">
<!--            <li class="active " >-->
            <li class="selecionado">
                <a th:href="@{/}">
                    <i class="fa fa-home"></i>
                     Início 
                </a>
            </li>
            <li class="selecionado">
                <a th:href="@{/pessoa/cadastro}">
                    <i class="fa fa-user-plus"></i>
                     Cadastro Cliente 
                </a>
            </li>
            <li class="selecionado">
                <a th:href="@{/exemplar/cadastro}">
                    <i class="fa fa-book-medical"></i>
                     Cadastro Livro 
                </a>
            </li>
            <li class="selecionado">
                <a th:href="@{/emprestimo/cadastro}">
                    <i class="fa fa-book"></i>
                     Emprestimo 
                </a>
            </li>
            <li class="selecionado">
                <a th:href="@{/devolucao/devolucao}">
                    <i class="fa fa-reply"></i>
                     Devolução 
                </a>
            </li>
            <li class="selecionado">
                <a th:href="@{/emprestimo/lista}">
                    <i class="fa fa-list"></i>
                     Lista Emprestados 
                </a>
            </li>
            <li class="selecionado">
                <a th:href="@{/listas/disponiveis}">
                    <i class="fa fa-list"></i>
                     Livros Disponíveis 
                </a>
            </li>
			<li class="selecionado">
                <a th:href="@{/pessoa/lista}">
                    <i class="fa fa-list"></i>
                    Lista de clientes
                </a>
            </li>
            <li class="active-pro">
                <a th:href="@{/sobre}">
                    <i class="fa fa-info"></i>
                     Sobre 
                </a>
            </li>
        </ul>
    </div>
    <div th:data-th-replace="@{fragments/imports :: scripts}" ></div>
    <script th:src="@{/js/paper-dashboard.min.js?v=2.0.0}" type="text/javascript"></script>
    <script th:src="@{/demo/demo.js}"></script>
    <script>
        $(document).ready(function() {
            // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
            demo.initChartsPages();
        });
    </script>
</div>