<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head th:data-th-replace="@{fragments/imports :: head}" >

</head>

<body class="">

<div class="wrapper ">

    <!--    menu lateral-->
    <div th:data-th-replace="@{fragments/fragmento_menu-lateral :: menu-lateral}"></div>

    <div class="main-panel">

        <!-- Navbar -->
        <nav th:data-th-replace="@{fragments/fragmento_navegacao :: navegacao}"> </nav>
        <!-- End Navbar -->
        <!-- <div class="panel-header panel-header-lg">

    <canvas id="bigDashboardChart"></canvas>


  </div> -->
        <div class="content">

            <!--        cards-->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">Devolução</h5>
                        </div>
                        <form th:action="@{/devolucao/enviar}" method="post" th:object="${devolucao}">
                            <div class="container-fluid">
                                <div class="form-group">
                                    <label>Código do emprestimo:</label>
                                    <input type="number" th:field="*{emprestimo}" name="emprestimo.codigo"  class="form-control">
                                    <label class="text-danger" th:if="${#fields.hasErrors('emprestimo')}" th:errors="*{emprestimo}"></label>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="form-group">
                                    <label>Data:</label>
                                    <input type="date" th:field="*{data}" class="form-control">
                                    <label class="text-danger" th:if="${#fields.hasErrors('data')}" th:errors="*{data}"></label>
                                </div>
                            </div>
                            <div class="container-fluid">
                                <div class="form-group">
                                    <label>Quantidade:</label>
                                    <input type="number" th:field="*{quantidade}" class="form-control">
                                    <label class="text-danger" th:if="${#fields.hasErrors('quantidade')}" th:errors="*{quantidade}"></label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-2">
                                <div class="form-group">
                                    <input name="Enviar" type="submit" class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!--      rodape-->
        <footer th:data-th-replace="@{fragments/fragmento_rodape :: rodape}" ></footer>

    </div>
</div>


<div th:data-th-replace="@{fragments/imports :: scripts}" ></div>
</body>

</html>